body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: auto;
    background-color: aquamarine;
}
h1{
    text-align: center;
    padding-bottom: 3vh;
}
header{
    padding-top: 2vh;
}
hr{
    width: 85vw;
}
footer{
    text-align: center;
    padding-top: 2vh;
}
.navbar{
    border-radius: 2vh;
    margin-top: 5vh;
}
.ggm{
    border-radius: 2vh;
    height: 50vh;
    width: 50vh;
}
.row{
    margin: 0;
    padding: 0;
}
.Paiement{
    text-align: center;
}
.Grossi{
    padding-left: 2vh;
    height: 5vh;
    width: auto;
}
#HR{
    height: 15vh;
    width: auto;
}
@media(max-width:768px){
    .ggm{
        height: 40vh;
        width: 40vh;  
    }
}