/* ------------------------------------------------------balise général----------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: auto;
    background-color: rgb(72, 163, 140);
    position: relative;
}
p{
    font-size: 30px;
}
.section{
    padding-bottom: 70px;
}
h1{
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}
header{
    padding-top: 2vh;
}
hr{
    width: 85vw;
    height: 5px;
}
footer{
    text-align: center;
    padding-top: 2vh;
}
/*-------------------------------------------------- class --------------------------------------------------*/
.navbar{
    border-radius: 2vh;
    margin-top: 5vh;
}
.ggm{
    border-radius: 2vh;
    height: 45vh;
    width: 100%;
}
.row{
    margin: 0px !important;
    padding: 0px !important;
}
.Paiement{
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.réseaux{
    margin: 0px auto;
}
.icon{
    height: 5vh;
    width: auto;
}
.ggmp{
    padding: 0%;
    margin: 0%;
}
.move{
    padding-left: 25%;
    text-align: justify;
}
.contact{
    padding-bottom: 10px;
}
.decale{
    text-align: center;
    margin: 0px;
    padding-left: 12vh;
    text-align: justify;
}
.carousel-item img{
    border-radius: 2vh;
    height: 50vh;
    width: auto;
}
.txtx{
    text-align: justify;
}
.prix{
    text-align: center;
}
.Slogan{
    font-size: 32px;
    padding-right: 18%;
}
.decription{
    padding-left: 15%;
    padding-right: 15%;
}
.livraison{
    padding-left: 5%;
    padding-right: 25%;
}
.livreure{
    padding-left: 25%;
}
.imgs{
    padding-left: 22vh;
    height: 20vh;
    width: auto;
}
.Dessert{
    padding-bottom: 20px;
}
.mrl{
    margin-left: 80px;
}
.centrage{
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}
.imga{
    padding-left: 300px;
}
.peluche{
    text-decoration: none;
    color: brown;
}
.Menu{
    text-align: center;
}
.Menux{
    text-align: center;
}
/*---------------------------------------------------------------- accordion -------------------------------------------------*/
.accordion-body img{
    /* padding-left: 40vw; */
    padding-bottom: 3vh;
    height: 20vh;
    width: auto;
}
.accordion-body p{
    width: 80%;
    padding-bottom: 25px;
}
.accordion-header{
    padding-left: 40%;
}
.accordion-header p{
    padding-left: 5%;
}
/*--------------------------------------------------------------------------------- button remonte------------------------------------ */
button img{
    height: 50px;
    width: auto;
}
#btnx{
    position: sticky;
    top: 200px;
    left: 1850px;
    width: 50px;
    height: 50px;
    padding: 0px !important;
}
/*---------------------------------------------------------------------------------- modal modif------------------------------------------ */
.btxclose{
    margin: 0px !important;
    font-size: 18px !important;
}
button{
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 15px;
    /* color: red; */
    background-color: rgb(72, 163, 140);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
button:hover{
    color: purple;
    background: #124b7a;
    box-shadow: 0 0 10px #124b7a, 0 0 40px #124b7a, 0 0 80px #124b7a;
    transition-delay: 1s;
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#124b7a);
}
button:hover span:nth-child(1){
    left:100%;
    transition: 1s;
}
button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#124b7a);
}
button:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
button span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#124b7a);
}
button:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}
button span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#124b7a);
}
button:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.modal-title{
    text-align: center;
    padding-left: 35vw;
    font-size: 22px;
}
.modal p{
    text-align: justify;
}
.H1{
    margin: 0px auto;
}
/*----------------------------------------------------------- id------------------------------------------------------- */
#HR{
    height: 15vh;
    width: auto;
}
#pizza{
    padding-left: 45%;
}
#galerie{
    padding: 0px 70px;
}
/*--------------------------------------------------------------- media querry---------------------------------- */
@media(max-width:768px){
    .carousel-item img{
        height: 30vh;
        width: auto;
    }
    .water{
        padding: 0px;
        padding-left: 15px !important;
    }
    button{
        font-size: 13px;
        padding: 5px 5px;
    }
    .sensei{
        padding-left: 20px !important;
    }
    .modal-body h2{
        font-size: 16px;
    }
    .Slogan{
        font-size: 16px;
        padding: 0px;
    }
    .modal-title{
        padding-left: 50px;
        font-size: 20px;
    }
    .modal-body p{
        font-size: 12px;
    }
    .decale{
        margin-bottom: 10px;
        padding-left: 10vh;
    }
    .contact{
        padding: 0px;
        font-size: 16px;
    }
    h2{
     font-size: 3vh;
    }
    #pizza{
        padding-left: 15%;
    }
    p{
        font-size: 15px;
    }
    .mrl{
        margin: 0px;
    }
    #btnx{
        left: 300px;
        height: 23px;
        width: auto;
    }
    button img{
        height: 23px;
        width: auto;
    }
    .livraison{
        padding: 0px;
    }
    .livreure{
        padding: 0px;
    }
    #pizza{
        padding-left: 80px;
    }
    #galerie{
        padding: 0px 15px;
    }
    .imga{
        padding-left: 70px;
    }
    .imgh{
        padding-left: 30px;
    }
    .section{
        padding-bottom: 40px;
    }
}